doctype html
html(lang="it")
    head
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible", content="IE=Edge")
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name="description", content="")
        title Nuovo titolo
        // build:css css/main.min.css
        link(href="css/main.css", rel="stylesheet")
        // endbuild
    body
        .container
          header.masthead(role="banner")  
          main
          footer(role="contentInfo")
        // build:js js/main.min.js
        script(src="js/main.js")
        // endbuild
    
    
