h1 [Project Name] Project Timeline
ol.timeline
  li.tl-node
    .tl-stamp August 14th, 2013
    .tl-content Kickoff Meeting
    a(href='#') View notes
  li.tl-node
    .tl-stamp August 14th, 2013
    .tl-content Kickoff Meeting
    a(href='#') View notes
