/**
 * Variabili
 */

$bgc: #f5f6f6; // background-color
$tc: #424242; // text-color

/**
 * Configurazioni della griglia con Susy.
 */
$susy: (
        columns: 12,
        container: 100%,
        gutters: 1/2,
        gutter-position: after,
        global-box-sizing: border-box
);

/**
 * Breakpoints comuni (https://goo.gl/pVFYw8)
 */
$breakpoints: (
  for-tablet-portrait-up: 600px,
  for-tablet-landscape-up: 900px,
  desktop-up: 1200px,
  big-desktop-up: 1900px
);

// Breakpoints short version
$tp: map_get($breakpoints, for-tablet-portrait-up);
$tl: map_get($breakpoints, for-tablet-landscape-up);
$dk: map_get($breakpoints, desktop-up);
$bdk: map_get($breakpoints, big-desktop-up);


/**
 * Configurazioni della tipografia base responsive con Typi.
 */

$typi: (
  null: (16px, 1.4),
  for-tablet-portrait-up: 18px,
  for-tablet-landscape-up: 18px,
  desktop-up: 18px,
  big-desktop-up: 18px
);


/**
 * Configurazioni della scala tipografica.
 */

$ms-base: 1em;
$ms-ratio: $major-third;


/**
 * Configurazioni per la gestione degli z-index
 */
